.header {
  display: flex;
  flex-direction: row;
  padding: 0px 24px 0px 16px;
  align-items: center;
  justify-content: space-between;
}

.logoesd {
  mix-blend-mode: screen;
}

#logo {
  margin-right: 185px;
  margin-top: 5px;
  position: relative;
}

#buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.notificacion {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  border: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

.notificacion:hover {
  cursor: pointer;
}

.logoheader {
  width: 20px;
  height: 20px;
  min-height: 20px;
  max-height: 20px;
  max-width: 20px;
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}

.article {
  border: 2px solid;
  padding: 10px;
  width: 300px;
  height: 350px;
}

.article:hover {
  cursor: pointer;
}

.article-images-details {
  max-height: 200px;
  max-width: 200px;
}

.article img {
  width: 100%;
  height: 194px;
  object-fit: cover;
}

.introtext {
  width: 80%;
}

.headerimg {
  width: 100%;
  max-height: 340px;
  min-height: 340px;
  background-repeat: none;
  background-size: cover;
  background-image: url("../img/IMGHEADER.svg");
}

.header_section {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#search-bar {
  height: 25px;
  width: 40%;
}

.titulotexto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.botonmas {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#ver-mas-button {
  padding: 10px 15px 10px 15px;
  margin-bottom: 50px;
  background-color: none;
  border: 2px solid;
  border-radius: 4px;
}

.footer {
  height: 470px;
  width: auto;
  background-color: black;
}

.footertext {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.footertitle {
  width: 40%;
  font-size: 40px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footerheadertext {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-content: center;
  padding: 50px 0px;
  color: white;
}

.box {
  height: 25px;
  width: 40%;
  border: none;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 2px solid white;
}

.botonventa {
  display: flex;
  margin-left: 12px;
  width: 10%;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: black;
  background-color: none;
  padding: 8px;
  border: 2px solid white;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-decoration: none;
  align-content: center;
}

.botonventa:hover {
  background-color: white;
  border-color: white;
  cursor: pointer;
  color: black;
}

.flexmail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}

.mensaje {
  display: flex;
  margin-top: 3%;
  margin-bottom: 3%;
  flex-direction: row;
  justify-content: center;
  color: white;
}

.botonposter {
  padding: 5% 20% 5% 20%;
  margin-bottom: 15%;
  background-color: black;
  color: white;
  border: 2px solid;
  text-decoration: none;
  border-radius: 4px;
}

.botonposter:hover {
  cursor: pointer;
  background-color: #1e1e1e;
}

.posters {
  display: flex;
  flex-direction: row;
}

.videodetail {
  max-width: 100%;
}

.enlaces_details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.introdetail {
  background: black;
  color: white;
  height: 50vh;
}

.containerdetail {
  padding: 0;
  margin: 0;
}

.timedetail {
  padding: 2%;
}

.titledetail {
  padding-left: 2%;
  font-size: 45px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.subtitledetail {
  padding-left: 2%;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.subclassestitulo {
  padding-left: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.socialtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
}

.socialdetail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5%;
}

.keydetail {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.datadetails {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.descriptiondetail {
  max-width: 95%;
}

.entity {
  font-weight: bold;
}

.article-images {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .footerheadertext {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footertitle {
    width: 90%;
  }
  .footertext {
    width: 80%;
  }
}

@media (max-width: 955px) {
  .headerimg {
    min-height: 50vh;
  }
}

@media (min-width: 800px) {
  .headerimg {
    min-height: 50vh;
  }
}

@media (min-width: 800px) {
  .headerimg {
    min-height: 50vh;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  border: 2px solid black;
}

::-webkit-scrollbar-thumb {
  background: black;
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}

.article {
  border: 2px solid;
  padding: 10px;
  width: 300px;
  height: 350px;
}

.article:hover {
  cursor: pointer;
}

.article-images-details {
  max-height: 200px;
  max-width: 200px;
}

.article img {
  width: 100%;
  height: 194px;
  object-fit: cover;
}

.introtext {
  width: 80%;
}

.headerimg {
  width: 100%;
  max-height: 340px;
  min-height: 340px;
  background-repeat: none;
  background-size: cover;
  background-image: url("../img/IMGHEADER.svg");
}

.header_section {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#search-bar {
  height: 25px;
  width: 40%;
}

.titulotexto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.botonmas {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#ver-mas-button {
  padding: 10px 15px 10px 15px;
  margin-bottom: 50px;
  background-color: none;
  border: 2px solid;
  border-radius: 4px;
}

.footer {
  height: 470px;
  width: auto;
  background-color: black;
}

.footertext {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.footertitle {
  width: 40%;
  font-size: 40px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footerheadertext {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-content: center;
  padding: 50px 0px;
  color: white;
}

.box {
  height: 25px;
  width: 40%;
  border: none;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 2px solid white;
}

.botonventa {
  display: flex;
  margin-left: 12px;
  width: 10%;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: black;
  background-color: none;
  padding: 8px;
  border: 2px solid white;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-decoration: none;
  align-content: center;
}

.botonventa:hover {
  background-color: white;
  border-color: white;
  cursor: pointer;
  color: black;
}

.flexmail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}

.mensaje {
  display: flex;
  margin-top: 3%;
  margin-bottom: 3%;
  flex-direction: row;
  justify-content: center;
  color: white;
}

.botonposter {
  padding: 5% 20% 5% 20%;
  margin-bottom: 15%;
  background-color: black;
  color: white;
  border: 2px solid;
  text-decoration: none;
  border-radius: 4px;
}

.botonposter:hover {
  cursor: pointer;
  background-color: #1e1e1e;
}

.posters {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.enlaces_details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.introdetail {
  background: black;
  color: white;
  height: 50vh;
}

.containerdetail {
  padding: 0;
  margin: 0;
}

.timedetail {
  padding: 2%;
}

.titledetail {
  padding-left: 2%;
  font-size: 45px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.subtitledetail {
  padding-left: 2%;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.subclassestitulo {
  padding-left: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.socialtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
}

.socialdetail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5%;
}

.keydetail {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.datadetails {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.descriptiondetail {
  max-width: 95%;
}

.entity {
  font-weight: bold;
}

.article-images {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 0px 24px 0px 16px;
  align-items: center;
  justify-content: space-between;
}

.logoesd {
  mix-blend-mode: screen;
}

#logo {
  margin-right: 185px;
  margin-top: 5px;
  position: relative;
}

#buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.notificacion {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  border: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

.notificacion:hover {
  cursor: pointer;
}

.logoheader {
  width: 20px;
  height: 20px;
  min-height: 20px;
  max-height: 20px;
  max-width: 20px;
}
